fastapi
uvicorn
llama-index
llama-index-llms-gemini
llama-index-embeddings-gemini
qdrant-client
llama-index-vector-stores-qdrant
ragas
arize-phoenix
openinference-instrumentation-llama-index
streamlit
python-dotenv
pdfplumber
pydantic-settings
python-multipart
llama-parse
llama-index-embeddings-cohere
langchain-cohere
llama-index-postprocessor-cohere-rerank
llama-index-multi-modal-llms-gemini
llama-index-llms-openai
llama-index-llms-anthropic
llama-index-llms-groq
